<style type="text/css">

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-google {
    background-color: #DF4B3B;
    color: #fff;
}

</style>
<div class="container">
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
  <!-- <p class="text-center">Get started with your free account</p> -->
	<p>
		<a href="" class="btn btn-block btn-google"> <i class="fa fa-google"></i>   Login with Google</a>
		<a href="" class="btn btn-block btn-facebook"> <i class="fa fa-facebook-f"></i>   Login with facebook</a>
	</p>
	<p class="divider-text">
        <span class="bg-light">OR</span>
    </p>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
        <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
    </div>
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "Email Address" %>
    </div>
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		 </div>
       <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password (#{@minimum_password_length} characters minimum)" %>
    </div>
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		 </div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password Again"%>
    </div>
    <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
  </div> <!-- form-group// -->      
  <p class="text-center">Have an account? <%= link_to("Log In", new_user_session_path) %> </p>                                                                 
  <% end %>
</article>
</div> <!-- card.// -->
</div> 
</div> 

