<p id="notice"><%= notice %></p>

<h1>Publications</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Author</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.title %></td>
        <td><%= publication.publication_sub_category.name %></td>
        <td><%= publication.user.first_name %> <% publication.user.last_name %></td>
        <td><%= link_to 'Show', publication %></td>
      </tr>
    <% end %>
  </tbody>
</table>
