<!DOCTYPE html>
<html>
  <head>
    <title>Selfhouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div>
      <%= render 'shared/navbar' %>
    </div>
    <div>
      <%= render partial: "partials/flash_messages", flash: flash %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
